<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The </title>

    <title>Project Hypnos</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <!--This is copied from Elma. will need to be updated-->
    <!--
        <nav role="navigation" class="w3-bar w3-border w3-light-grey">
            <div class="w3-bar-item w3-text-grey">Auth0 - NodeJS</div>
            <a href="/" class="w3-bar-item w3-button">Home</a>
            {{#if locals.user}}
            <a href="/user" id="profileDropDown" class="w3-bar-item w3-button">Profile</a>
            <a href="/logout" id="qsLogoutBtn" class="w3-bar-item w3-button">Log Out</a>
            {{else}}
            <a href="/login" class="w3-bar-item w3-button">Log In</a>
            {{/if}}
        </nav>
    -->
    {{{body}}}
</body>

</html>