<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Project Hypnos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="public/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="public/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="public/stylesheets/auth.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <!--navbar stuff should go here-->
    {{{body}}}
</body>

</html>