<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hypnos|index</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <!--<link rel= "stylesheet" href= "../public/stylesheets/materialize.css">-->
    <!-- icons link for materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font link for google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron"> ​
</head>

<body>
    <nav class="navBar" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Hypnos</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="../views/team.html">Team</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="../views/team.html">Team</a></li>
            </ul>

            <ul class="right hide-on-med-and-down">
                <li><a href="../views/onBoard.html">Main</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="../views/onBoard.html">Main</a></li>
            </ul>

            <ul class="right hide-on-med-and-down">
                <li><a href="../views/index.html">Home</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="../views/index.html">Home</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>


        </div>
    </nav>

    <head>
        <meta charset="UTF-8">
        <title>Hypnos|Recomendations</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <!--<link rel= "stylesheet" href= "../public/stylesheets/materialize.css">-->
        <!-- icons link for materialize -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- font link for google fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron"> ​
    </head>

    <body>
        <nav class="navBar" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">Hypnos Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="../views/team.html">Team</a></li>
                </ul>
                <ul id="nav-mobile" class="sidenav">
                    <li><a href="../views/team.html">Team</a></li>
                </ul>

                <ul class="right hide-on-med-and-down">
                    <li><a href="../views/onBoard.html">Main</a></li>
                </ul>
                <ul id="nav-mobile" class="sidenav">
                    <li><a href="../views/onBoard.html">Main</a></li>
                </ul>

                <ul class="right hide-on-med-and-down">
                    <li><a href="../views/index.html">Home</a></li>
                </ul>
                <ul id="nav-mobile" class="sidenav">
                    <li><a href="../views/index.html">Home</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>


        <div id="index-banner" class="index-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br>
                    <h1 class=" center text-lighten-2">HYPNOS</h1>
                    <div class="row center">
                        <h5 class="header col s12 light">An app to help you gain more quality to sleep</h5>
                    </div>
                    <div class="row center">
                        <a href="../views/onBoard.html" class="btn-large">Get Started</a>
                        <!-- Add onBoard html-->
                    </div>
                </div>
            </div>
            <!--<div class="index"><img src="../public/images/sky.jpg" alt="Unsplashed background img 1"></div>-->
        </div>

        </div>


        <div class="container">
            <div class="section">

                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">alarm</i></h2>
                            <h5 class="center">Sleep Tracker</h5>

                            <p class="light">Sleep is a vital, often neglected, component of every person's overall health and well-being. Sleep is important because it enables the body to repair and be fit and ready for another day. Getting adequate rest may also help
                                prevent excess weight gain, heart disease, and increased illness duration.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">face</i></h2>
                            <h5 class="center">User Focused</h5>

                            <p class="light">By utilizing elements and collecting data, we were able to create an application that incorporates components and animations that provide more feedback to users. This allows mulitple users to login to see there own personal
                                sleep stats.
                            </p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">brightness_2</i></h2>
                            <h5 class="center">Tips and Solutions</h5>

                            <p class="light">Keeping a regular sleep schedule—even on weekends—maintains the timing of the body's internal clock and can help you fall asleep and wake up more easily. Even if real life stands in the way of achieving the perfect sleep routine,
                                making just a few small changes can improve your sleep dramatically. Using this application will help you get on track by eliminating bad sleeping habits. Regulation is "key", and through our simple all-in one app that
                                collects basic data from the user and provides them with easy way to monitor there sleep and provides helpful information to help them get on track.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="quote-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <br>
                    <div class="row center">
                        <h5 class="header col s12 light">“Your future depends on your dreams, so go to sleep.” – Mesut Barazany.
                        </h5>
                    </div>
                </div>
            </div>
        </div>


        <footer>
            <div class="container">
                Made by <a class="color" href="http://materializecss.com">Copyright &copy; 2020</a>
            </div>
        </footer>



        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>


    </body>
    ​

    <style>

    </style>




</body>
​

</html>