<!DOCTYPE html>
<html>
​
<head>
    <meta charset="UTF-8">
    <title>Hypnos| survey</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
   <!-- <link rel= "stylesheet" href= "../public/stylesheets/materialize.css"> -->
    <!-- icons link for materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font link for google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo"> Hypnos Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Team</a></li></ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Team</a></li></ul>

            <ul class="right hide-on-med-and-down">
                <li><a href="#">Main</a></li></ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Main</a></li></ul>

            <ul class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li></ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Home</a></li></ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="row">
                {{#unless user.age}}
                <form class="col s10">
                                   
                    <h6>How long did you take to fall asleep?</h6>
                    <p><label>
                        <input type="checkbox" /><span>14-17 years</span>
                    </label></p>
                    <p><label>
                        <input type="checkbox" /><span>18-25 years</span>
                    </label></p>
                    <p><label>
                        <input type="checkbox" /><span>26-64 years</span>
                    </label></p>
                    <p><label>
                        <input type="checkbox" /><span>> 65 years</span>
                    </label></p>
                         
                    
                    <div class="input-field col s6">  
                        <input type="submit" value="Submit">
                    </div>
                        
                </form>
                {{/unless}}
            </div>
        </div>           
<br></br>

        <div class="container">
          <div class="row">
            <form class="col- s10">
              <h4 class="h1">Survey questions:</h4>

                <h6>What time did you go to bed?</h6>
                    <p class="range-field">
                      <input type="range" id="test5" min="7" max="21" />
                    </p>
                
                <h6>What time did you wake up?</h6>
                    <p class="range-field">
                      <input type="range" id="test5" min="7" max="21" />
                    </p>

                <h6>How long did you take to fall asleep?</h6>
                    <p><label>
                        <input type="checkbox" /><span>Less than 10 minutes</span>
                    </label></p>
                    <p><label>
                        <input type="checkbox" /><span>30 minutes</span>
                    </label></p>
                    <p><label>
                        <input type="checkbox" /><span>1 hour</span>
                    </label></p>
                    <p><label>
                        <input type="checkbox" /><span>More than an hour</span>
                    </label></p>
                
                <h6>Do you feel rested?</h6>
                    <p><label>
                        <input type="checkbox" /><span>Yes</span>
                    </label></p>
                    <p><label>
                        <input type="checkbox" /><span>No</span>
                    </label></p><br>
                
                <input type="submit" value="Submit">

            </form>

        </div>

    </section> 
    
<br>
    
<footer>
    <div class="container">
        Made by <a href="http://materializecss.com">Copyright &copy; 2020</a>
    </div>  
  </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

</body>
​</html>