<nav class="navBar" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Hypnos</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/team">Team</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="/team">Team</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="/onBoard">Main</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="/onBoard">Main</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="/recommendations">Recommnedations</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="/recommendations">Recommnedations</a></li>
            </ul>





<body style="background-image: url(../public/images/Emerald-Bay-sunset-by-Levi-Bare.jpg);background-size: cover;">
    <div class="chart-container" style="position: relative;">
        <div class="row">
            <div class="col s12" style="background-color: rgba(0, 128, 0, 0.116);">
                <h5 style="text-align: center; font-family:Pacifico">Sleep Tracker results</h5>
            </div>
            <div class="col s12 m4 l2" style="background-color: slategray;">
                <p>{{{user}}}</p>
                <p class="flow-text" style="font-family: Pacifico;"></p>
            </div>
            <div class="col s12 m4 l8" style="background-color: rgba(112, 128, 144, 0.603)">
                <canvas id="lineChart" height="1" width="3"></canvas>
            </div>
            <div class="col s12 m4 l2" style="background-color: rgb(206, 206, 250);">
                <p class="flow-text" style="font-family: Pacifico;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>


        <div class="row">
            <div class="col s12 m6 l3" style="background-color: yellow;">
                <p>s</p>
            </div>
            <div class="col s12 m6 l3" style="background-color: olivedrab;">
                <p>possible section with average hours of sleep </p>
            </div>
            <div class="col s12 m6 l3" style="background-color: skyblue;">
                <p>possible section of average time went to be and woke up</p>
            </div>
            <div class="col s12 m6 l3" style="background-color: blueviolet;">
                <p>section of days days on/over target <br> and days missed</p>
            </div>
        </div>
    </div>
</body>