<!DOCTYPE html>
<html>
​
<head>
    <meta charset="UTF-8">
    <title>Hypnos|Recomendations</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
   <!-- <link rel= "stylesheet" href= "../public/stylesheets/materialize.css"> -->
    <!-- icons link for materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font link for google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo"> Hypnos Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Team</a></li></ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Team</a></li></ul>

            <ul class="right hide-on-med-and-down">
                <li><a href="#">Main</a></li></ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Main</a></li></ul>

            <ul class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li></ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Home</a></li></ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <section>

        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
              <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">Hypnos</h1>
                <div class="row center">
                  <h5 class="header col s12 black">A modern responsive front-end framework based on Material Design</h5>>
                </div>
                
                <br><br>
        
              </div>
            </div>
            <div class="parallax"><img src="https://images.unsplash.com/photo-1508615070457-7baeba4003ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Sky image"></div>
          </div>
        
        
          <div class="container">
            <div class="section">

                <h1 class="header center teal-text text-lighten-2">Team  Hypnos</h1>
                <div class="row center">
                  <h5 class="header col s12 light">The collaborators for this project</h5>
                </div>
                
                <br><br>
        
                    <div class="row">
                        <div class="col s3">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://media-exp1.licdn.com/dms/image/C5603AQGJSnTjHutMEg/profile-displayphoto-shrink_400_400/0?e=1604534400&v=beta&t=SnGQzYmOdtx5tVIpNCjweMy6TGPObg2lRjOp7BzCZ3k"  class="image" alt="Diogo Candido da Silva">
                                <span class="card-title">Diogo Candido</span>
                            </div>
                            <div class="card-action">
                                <a href="https://www.linkedin.com/in/diogo-candido-da-silva-26061811a/"><img src="../public/images/linkedin-icon.png" class="social" alt="LinkedIn" /></a>
                                <a href="https://diogocandidos.github.io/responsive-portfolio/"><img src="../public/images/gitHublogo1.png" class="social" alt="GitHub"></a>
                            </div>
                        </div>
                        </div>
            
                        <div class="col s3">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://media-exp1.licdn.com/dms/image/C5603AQFU1TzLVpDXpA/profile-displayphoto-shrink_400_400/0?e=1607558400&v=beta&t=snloj7P8fB0HFN7E_iZFs0XNNuzbxmRSt_DhfHebByA"  class="image" alt="Jeneth Diesta">                   
                                <span class="card-title">Jeneth Diesta</span>
                            </div>
                            <div class="card-action">
                                <a href="linkedin.com/in/jeneth-diesta"><img src="../public/images/linkedin-icon.png" class="social" alt="LinkedIn" /></a>
                                <a href="https://jen6one9.github.io/that-portfolio-v2/"><img src="../public/images/gitHublogo1.png" class="social" alt="GitHub"></a>
                            </div>
                        </div>
                        </div>

                        <div class="col s3">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGCineEPG98aA/profile-displayphoto-shrink_800_800/0?e=1607558400&v=beta&t=QHqhW0qqDBf_7MBzD3cx_ez_O4_hBq72KrSoZB7co5Q"  class="image" alt="Kira Lowrey">          
                                <span class="card-title">Kira Lowrey</span>
                            </div>
                            <div class="card-action">
                                <a href="https://www.linkedin.com/in/kira-lowrey-209533171/"><img src="../public/images/linkedin-icon.png" class="social" alt="LinkedIn" /></a>
                                <a href="https://kilowrey.github.io/responsive-portfolio/"><img src="../public/images/gitHublogo1.png" class="social" alt="GitHub"></a>
                            </div>
                        </div>
                        </div>

                        <div class="col s3">
                        <div class="card text-center">
                            <div class="card-image">
                                <img src="https://robmgraham.github.io/Portfolio/Images/Photo%20of%20me.jpg" class="image" alt="Robert Graham"> 
                                <span class="card-title">Robert Graham</span>
                            </div>
                            <div class="card-action">
                                <a href=""><img src="../public/images/linkedin-icon.png" class="social" alt="LinkedIn" /></a> <!-- add linkedin-->
                                <a href="https://robmgraham.github.io/Portfolio/"><img src="../public/images/gitHublogo1.png" class="social" alt="GitHub"></a>
                           </div>
                        </div>
                        </div>
                    </div>
            </div>
          </div>
       
    </section> 
    
<br>
    
    

<footer>
    <div class="container">
        Made by <a href="http://materializecss.com">Copyright &copy; 2020</a>
    </div>  
  </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

    <style>

/* TEAM PAGE */


 /** logos **/
 .social {
  width: 30%;
  margin-left: 7px;
}
footer {
  height: 80px;
  margin-top: auto;
  padding: 20px 0;
  clear: both;
  color: #fff;
  color: #ccc;
  font-size: 12px;
  text-align: center;
  background: #666;
  border-top: 8px solid	#5F9EA0;
}
    </style>

</body>
​</html>